.header-profile {
    width: 100px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.header-profile__link{
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header-profile{
    display: none;
  }
}
