.form__profile-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
  padding: 74px 0 123px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .form__profile-title {
    padding: 50px 0 80px;
  }
}
