.navigation {
  background: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

}

.navigation_auth{
  background: #073042;
}
.navigation__link{
  text-decoration: none;
  margin-left: 20px;
}

.navigation__link_auth{
  background: #073042;
  color: white;
}

.navigation__button{
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navigation__link {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .navigation__button {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .navigation__button {
    width: 40px;
    height: 43px;
  }
}
