.elements__card {
  width: 270px;
}

@media screen and (max-width: 1024px) {
  .elements__card {
    width: 339px;
  }
}

@media screen and (max-width: 768px) {
  .elements__card {
    width: 339px;
  }
}

@media screen and (max-width: 480px) {
  .elements__card {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .elements__card {
    width: 300px;
  }
}
