.header {
  max-width: 1140px;
  min-height: 74px;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: white;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header{
    max-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .header{
    max-width: 292px;
  }
}
